{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 100,
  "tabWidth": 2,
  "endOfLine": "lf",

  "importOrder": [
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^(@rekode/ui/components|@rekode/ui/hooks|@rekode/ui/lib/utils)(.*)$",
    "^(@/components|@/hooks|@/lib)(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-astro",
    "prettier-plugin-prisma"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
